<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT US</h3>
  <p class="w3-center"><em>We are dreamers</em></p>
  <p>
    We slip beneath the pillow's spell
    And drift from heaven and into hell
    To lose control of conscious mind
    The secrets of our soul to find.

    A timeless journey fills our being.
    The blind man now becomes all-seeing.
    The lonely now becomes the lover.
    The childless wife a loving mother.

    Reflection of our dormant fears
    Once woken may reduce to tears.
    With sleep the master free to prey
    On untold thought which nightly stray.
  </p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <img src="/images/screens/nine.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>
        Quantum entanglement is a physical phenomenon that occurs when pairs or groups of particles are generated or
        interact in ways such that the quantum state of each particle cannot be described independently of the others,
        even when the particles are separated by a large distance—instead, a quantum state must be described for the system as a whole.
      </p>
    </div>
  </div>
<!--
  <p class="w3-large w3-center w3-padding-16">We are really good at:</p>
  <p class="w3-wide"><i class="fa fa-camera"></i>Alpha</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-laptop"></i>Beta</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-photo"></i>Gamma</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
  </div>
-->
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">4+</span><br>
    Partners
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">5+</span><br>
    Projects
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">8+</span><br>
    Clients
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">50+</span><br>
    Meetings
  </div>
</div>
