<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center sec-header">We are ATIIVANNS</h3>
  <div class="seperator"></div>
  <p class="sec-text">
    We at ATIIVANNS keep working towards mastering our key skill, Dreaming. We call ouselves "The Dream-Riders".
    We back ourselves to dream big, as big as it can get, we aim for our dream, we believe in our fellow Dream-Riders abilities and we work as a team to make our dream a firm reality.
    We are your everyday ordinary folk relentlessly striving towards achieving an extraordinary dream.
    A dream to connect our future generations beyond the limitations of regions, religions and race.
    A dream to construct our global socieital segments bonded through knowlege sharing and educational connectivity.
  </p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <img src="/images/screens/nine.jpg" class="w3-round w3-image w3-opacity" alt="motto" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-padding-large">
      <p class=sec-label>Vision</p>
      <p class="sec-text" >
        To create a global digital ecosystem of student networking and communication.
      </p>
      <p class=sec-label>Mission</p>
      <p class="sec-text">
        Empowering students through an enriching social connectivity to eliminate disparity of knowledge.
      </p>
    </div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
<!--
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">4+</span><br>
    Partners
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">5+</span><br>
    Projects
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">8+</span><br>
    Clients
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">50+</span><br>
    Meetings
  </div>
-->
</div>
