<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center sec-header">
    <img src="images/company/mmp_logo_sm.png">
  </h3>
  <p class="w3-center"><em>Here are some of our latest work on MeMyPage<br> Click on the images to make them bigger</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
    <div class="w3-col m3">
      <img src="/images/screens/one.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Layer One">
    </div>

    <div class="w3-col m3">
      <img src="/images/screens/two.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Layer Two">
    </div>

    <div class="w3-col m3">
      <img src="/images/screens/three.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Layer Three">
    </div>

    <div class="w3-col m3">
      <img src="/images/screens/four.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Layer Four">
    </div>
  </div>

  <div class="w3-row-padding w3-center w3-section">
    <div class="w3-col m3">
      <img src="/images/screens/five.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Layer Five">
    </div>

    <div class="w3-col m3">
      <img src="/images/screens/six.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Layer Six">
    </div>

    <div class="w3-col m3">
      <img src="/images/screens/seven.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Layer Seven">
    </div>

    <div class="w3-col m3">
      <img src="/images/screens/eight.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Layer Eight">
    </div>
    <button class="w3-button w3-white w3-border w3-border-blue w3-round w3-padding-large" style="margin-top:64px">Know More</button>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>
