<div>
  <link rel="stylesheet" type="text/css" href="/css/w3.css" />
  <link rel="stylesheet" type="text/css" href="/css/alt_home.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>

{% include 'partials/navbar.html' %}

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <!--
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">The <span class="w3-hide-small"></span> Dream Riders</span>
  -->
  </div>
</div>

{% include 'partials/about.html' %}

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Product</span>
  </div>
</div>

{% include 'partials/product.html' %}

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

{% include 'partials/contact.html' %}

{% include 'partials/footer.html' %}

<script src='/js/alt_home.js'></script>
