.bg-hue1 {
  background: #283048;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #859398, #283048);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #859398, #283048);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-hue2 {
  background: -webkit-linear-gradient(45deg, #0ad167 0%, rgba(10, 209, 103, 0) 70%), -webkit-linear-gradient(315deg, #04d7be 10%, rgba(4, 215, 190, 0) 80%), -webkit-linear-gradient(225deg, #0550d1 10%, rgba(5, 80, 209, 0) 80%), -webkit-linear-gradient(135deg, #b00ad1 100%, rgba(176, 10, 209, 0) 70%);
  background: linear-gradient(45deg, #0ad167 0%, rgba(10, 209, 103, 0) 70%), linear-gradient(135deg, #04d7be 10%, rgba(4, 215, 190, 0) 80%), linear-gradient(225deg, #0550d1 10%, rgba(5, 80, 209, 0) 80%), linear-gradient(315deg, #b00ad1 100%, rgba(176, 10, 209, 0) 70%); }

.bg-main {
  background-color: #CDDC39;
  background: url(/images/bg-main.jpg);
  background-size: cover;
  color: #fbf9fa; }

a {
  text-decoration: none;
  color: #fff;
  outline: none; }

a:hover,
a:focus {
  color: #fc0; }

.hidden {
  position: absolute;
  overflow: hidden;
  height: 0;
  width: 0;
  pointer-events: none; }

.icon {
  display: block;
  height: 1.5em;
  width: 1.5em;
  margin: 0 auto;
  fill: currentColor; }

.view {
  position: relative;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 5vw 5vw calc(10vw + 1em);
  font-family: 'Noto Sans', sans-serif; }

.content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  height: 100%;
  width: 100%;
  background-size: auto 100%;
  padding: 0;
  background-color: rgba(51, 51, 51, 0.05);
  background-size: cover; }
  .content .intro {
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center; }
  .content .para {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: justify;
    padding: 0px 50px; }

.title {
  font-size: 5em;
  font-weight: 600;
  color: #faa03f; }

.sub-title {
  font-size: 1em; }

.breaker {
  height: 1px;
  background-color: #712d15;
  width: 20%;
  margin-left: auto;
  margin-right: auto; }

.btn {
  border: none;
  background: none; }

.btn:focus {
  outline: none; }

.btn--back {
  font-size: 1.5em;
  position: absolute;
  z-index: 1002;
  opacity: 0;
  color: #faa03f;
  top: 0.5em;
  right: 0.5em; }
  .btn--back .icon {
    transform: rotate(-90deg); }

.btn--menu {
  position: absolute;
  z-index: 1000;
  font-size: 1em;
  top: auto;
  bottom: 0;
  left: 50%;
  display: block;
  margin: 0 -0.75em 1em;
  color: #faa03f; }

.btn--menu-active .icon--menu,
.icon--cross {
  display: none; }

.btn--menu-active .icon--cross {
  display: block; }

/* Content */
.tabscontent {
  pointer-events: none; }

.tabscontent__item {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  opacity: 0; }

.tabscontent__item--current,
.tabscontent__item--current ~ .btn--back {
  pointer-events: auto; }

.box {
  position: relative;
  width: 40vw;
  min-width: 300px;
  height: calc(90vh - 120px);
  margin-top: 40px;
  background-size: cover;
  background-position: 50% 0; }

.box__title {
  font-size: 6em;
  position: absolute;
  bottom: 0;
  left: -1em;
  margin: 0;
  color: #fff; }

.tabscontent__item:first-child .box {
  background-color: #CDDC39;
  background: url(/images/discover.jpg);
  background-size: cover; }

.tabscontent__item:nth-child(2) .box {
  background-color: #FFC107;
  background: url(/images/product.jpeg);
  background-size: cover; }

.tabscontent__item:nth-child(3) .box {
  background-color: #FFC107;
  background: url(/images/contact.jpeg);
  background-size: cover; }

.sky {
  width: 100%;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 100%; }
  .sky .star {
    position: absolute;
    width: 3px;
    height: 3px;
    transform: rotate(-45deg);
    background-color: #d0751e;
    box-shadow: 0px 0px 2px 1px #fca83f; }
  .sky .star:nth-child(1) {
    left: 29%;
    top: 38%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(2) {
    left: 42%;
    top: 68%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(3) {
    left: 99%;
    top: 63%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(4) {
    left: 64%;
    top: 35%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(5) {
    left: 63%;
    top: 61%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(6) {
    left: 23%;
    top: 47%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(7) {
    left: 45%;
    top: 72%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(8) {
    left: 58%;
    top: 72%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(9) {
    left: 74%;
    top: 77%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(10) {
    left: 10%;
    top: 78%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(11) {
    left: 75%;
    top: 32%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(12) {
    left: 24%;
    top: 39%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(13) {
    left: 37%;
    top: 83%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(14) {
    left: 20%;
    top: 72%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(15) {
    left: 86%;
    top: 66%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(16) {
    left: 77%;
    top: 77%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(17) {
    left: 98%;
    top: 62%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(18) {
    left: 64%;
    top: 55%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(19) {
    left: 10%;
    top: 54%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(20) {
    left: 70%;
    top: 4%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(21) {
    left: 6%;
    top: 2%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(22) {
    left: 60%;
    top: 47%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(23) {
    left: 3%;
    top: 12%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(24) {
    left: 87%;
    top: 61%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(25) {
    left: 69%;
    top: 22%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(26) {
    left: 47%;
    top: 51%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(27) {
    left: 18%;
    top: 47%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(28) {
    left: 68%;
    top: 37%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(29) {
    left: 73%;
    top: 66%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(30) {
    left: 78%;
    top: 37%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(31) {
    left: 97%;
    top: 2%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(32) {
    left: 1%;
    top: 60%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(33) {
    left: 89%;
    top: 58%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(34) {
    left: 5%;
    top: 20%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(35) {
    left: 3%;
    top: 12%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(36) {
    left: 48%;
    top: 17%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(37) {
    left: 48%;
    top: 99%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(38) {
    left: 79%;
    top: 31%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(39) {
    left: 43%;
    top: 14%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(40) {
    left: 83%;
    top: 7%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(41) {
    left: 90%;
    top: 99%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(42) {
    left: 20%;
    top: 74%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(43) {
    left: 100%;
    top: 72%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(44) {
    left: 66%;
    top: 38%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(45) {
    left: 69%;
    top: 44%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(46) {
    left: 71%;
    top: 46%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(47) {
    left: 4%;
    top: 19%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(48) {
    left: 77%;
    top: 82%;
    animation: glow1 2s linear infinite; }
  .sky .star:nth-child(49) {
    left: 36%;
    top: 13%;
    animation: glow2 2s linear infinite; }
  .sky .star:nth-child(50) {
    left: 46%;
    top: 41%;
    animation: glow1 2s linear infinite; }

@keyframes glow1 {
  0% {
    box-shadow: 0px 0px 2px 1px #fca83f; }
  25% {
    box-shadow: 0px 0px 0.5px 1px #FFDF9E; }
  50% {
    box-shadow: 0px 0px 5px 0.5px #b05415; }
  75% {
    box-shadow: 0px 0px 2.5px 1px #651F0C; }
  100% {
    box-shadow: 0px 0px 2px 1px #fee1a3; } }

@keyframes glow2 {
  0% {
    box-shadow: 0px 0px 2px 1px #fca83f; }
  25% {
    box-shadow: 0px 0px 6px 1px #FFD677; }
  50% {
    box-shadow: 0px 0px 10px 1px #EB7909; }
  75% {
    box-shadow: 0px 0px 5px 1px #FB8F29; }
  100% {
    box-shadow: 0px 0px 2px 1px #ffbd58; } }
